<!DOCTYPE html>
<html>
   <head>
        <title><%= title %></title>

        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        
        <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/font-awesome.css">

        <!-- css -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
        
        <style type="text/css">
          #line-chart {
              height:300px;
              width:800px;
              margin: 0px auto;
              margin-top: 1em;
          }
          .brand { font-family: georgia, serif; }
          .brand .first {
              color: #ccc;
              font-style: italic;
          }
          .brand .second {
              color: #fff;
              font-weight: bold;
          }
      </style>

   </head>
   
   <body class=""> 
  
    <div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
                    
                    <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button">设置</a></li>
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> 张三
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">我的账号</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="visible-phone" href="#">设置</a></li>
                            <li class="divider visible-phone"></li>
                            <li><a tabindex="-1" href="sign-in.html">登出</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <a class="brand" href="/"><span class="second">我的blog管理</span></a>

        </div>
    </div>
    

    <div class="sidebar-nav">
        
        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>工作区</a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li class="active"><a href="/">首页</a></li>
            <li ><a href="/users">用户管理</a></li>
            <li ><a href="user.html">充值管理</a></li>
            <li ><a href="media.html">素材</a></li>
        </ul>

        <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>我的账号<span class="label label-info">+3</span></a>
        <ul id="accounts-menu" class="nav nav-list collapse">
            <li ><a href="#">修改信息</a></li>
            <li ><a href="#">重置密码</a></li>
        </ul>

        <a href="#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>导航一<i class="icon-chevron-up"></i></a>
        <ul id="error-menu" class="nav nav-list collapse">
            <li ><a href="#">403 page</a></li>
            <li ><a href="#">404 page</a></li>
            <li ><a href="#">500 page</a></li>
            <li ><a href="#">503 page</a></li>
        </ul>

        <a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>导航二</a>
        <ul id="legal-menu" class="nav nav-list collapse">
            <li ><a href="#">文档</a></li>
            <li ><a href="#">团队成员</a></li>
        </ul>

        <a href="/" class="nav-header" ><i class="icon-question-sign"></i>帮助</a>
        <a href="/" class="nav-header" ><i class="icon-comment"></i>反馈</a>
    </div>
        
    <div class="content">
        
        <div class="header">
            <div class="stats">
            <p class="stat"><span class="number">53</span>标签</p>
            <p class="stat"><span class="number">27</span>任务</p>
            <p class="stat"><span class="number">15</span>待处理</p>
        </div>

        <h1 class="page-title">我的工作区</h1>
        </div>
            <ul class="breadcrumb">
            <li><a href="/">首页</a> <span class="divider">/</span></li>
            <li class="active">我的工作区</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="row-fluid">

                  <div class="alert alert-info">
                      <button type="button" class="close" data-dismiss="alert">×</button>
                      <strong>最新消息提示:</strong> 恭喜你中奖了!
                  </div>

                  <div class="block">
                      <a href="#page-stats" class="block-heading" data-toggle="collapse">数据统计</a>
                      <div id="page-stats" class="block-body collapse in">

                          <div class="stat-widget-container">
                              <div class="stat-widget">
                                  <div class="stat-button">
                                      <p class="title">2,500</p>
                                      <p class="detail">入驻</p>
                                  </div>
                              </div>

                              <div class="stat-widget">
                                  <div class="stat-button">
                                      <p class="title">3,299</p>
                                      <p class="detail">订阅</p>
                                  </div>
                              </div>

                              <div class="stat-widget">
                                  <div class="stat-button">
                                      <p class="title">$1,500</p>
                                      <p class="detail">待支付</p>
                                  </div>
                              </div>

                              <div class="stat-widget">
                                  <div class="stat-button">
                                      <p class="title">$12,675</p>
                                      <p class="detail">完成支付</p>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>

                <div class="row-fluid">
                    <div class="block span6">
                        <a href="#tablewidget" class="block-heading" data-toggle="collapse">用户列表<span class="label label-warning">+10</span></a>
                        <div id="tablewidget" class="block-body collapse in">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>编号</th>
                                  <th>姓名</th>
                                  <th>登录名</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Mark</td>
                                  <td>Tompson</td>
                                  <td>the_mark7</td>
                                </tr>
                                <tr>
                                  <td>Ashley</td>
                                  <td>Jacobs</td>
                                  <td>ash11927</td>
                                </tr>
                                <tr>
                                  <td>Audrey</td>
                                  <td>Ann</td>
                                  <td>audann84</td>
                                </tr>
                                <tr>
                                  <td>John</td>
                                  <td>Robinson</td>
                                  <td>jr5527</td>
                                </tr>
                                <tr>
                                  <td>Aaron</td>
                                  <td>Butler</td>
                                  <td>aaron_butler</td>
                                </tr>
                                <tr>
                                  <td>Chris</td>
                                  <td>Albert</td>
                                  <td>cab79</td>
                                </tr>
                              </tbody>
                            </table>
                            <p><a href="#">More...</a></p>
                        </div>
                    </div>
                    <div class="block span6">
                        <a href="#widget1container" class="block-heading" data-toggle="collapse">点击可以合并 </a>
                        <div id="widget1container" class="block-body collapse in">
                            <h2>点击可以合并这个panel</h2>
                            <p>随便说几句</p>
                            <p>这是一个后台管理template</p>
                            <p>程序员实战</p>
                            <p>公众号id： coder10 ，关注我把，学习技能</p>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="block span6">
                        <div class="block-heading">
                            <span class="block-icon pull-right">
                                <a href="#" class="demo-cancel-click" rel="tooltip" title="Click to refresh"><i class="icon-refresh"></i></a>
                            </span>

                            <a href="#widget2container" data-toggle="collapse">充值记录</a>
                        </div>
                        <div id="widget2container" class="block-body collapse in">
                            <table class="table list">
                              <tbody>
                                  <tr>
                                      <td>
                                          <p><i class="icon-user"></i> Mark Otto</p>
                                      </td>
                                      <td>
                                          <p>Amount: $1,247</p>
                                      </td>
                                      <td>
                                          <p>Date: 7/19/2012</p>
                                          <a href="#">View Transaction</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <p><i class="icon-user"></i> Audrey Ann</p>
                                      </td>
                                      <td>
                                          <p>Amount: $2,793</p>
                                      </td>
                                      <td>
                                          <p>Date: 7/12/2012</p>
                                          <a href="#">View Transaction</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <p><i class="icon-user"></i> Mark Tompson</p>
                                      </td>
                                      <td>
                                          <p>Amount: $2,349</p>
                                      </td>
                                      <td>
                                          <p>Date: 3/10/2012</p>
                                          <a href="#">View Transaction</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <p><i class="icon-user"></i> Ashley Jacobs</p>
                                      </td>
                                      <td>
                                          <p>Amount: $1,192</p>
                                      </td>
                                      <td>
                                          <p>Date: 1/19/2012</p>
                                          <a href="#">View Transaction</a>
                                      </td>
                                  </tr>
                                    
                              </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="block span6">
                        <p class="block-heading">这个panel不可以合并</p>
                        <div class="block-body">
                            <h2>点击不可以合并这个panel</h2>
                            <p>随便说几句</p>
                            <p>这是一个后台管理template</p>
                            <p>程序员实战</p>
                            <p>公众号id： coder10 ，关注我把，学习技能</p>
                        </div>
                    </div>
                </div>

                
                <footer>
                    <hr>
                    <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                    <p class="pull-right"><a href="/" target="_blank">我的blog</a> by <a href="/" target="_blank">bootstrap</a></p>
                    <p>&copy; 2016 <a href="#" target="_blank">南京</a></p>
                </footer>
                    
            </div>
        </div>
    </div>

  </body>
</html>