<!DOCTYPE html>
<html>
   <head>
        <title>美容优惠</title>

        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/font-awesome.css">
        <!-- css -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <style type="text/css">
          #line-chart {
              height:300px;
              width:800px;
              margin: 0px auto;
              margin-top: 1em;
          }
          .brand { font-family: georgia, serif; }
          .brand .first {
              color: #ccc;
              font-style: italic;
          }
          .brand .second {
              color: #fff;
              font-weight: bold;
          }
      </style>

   </head>
   
   <body class=""> 
  
    <div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
                    
                    <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button">设置</a></li>
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> 张三
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">我的账号</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="visible-phone" href="#">设置</a></li>
                            <li class="divider visible-phone"></li>
                            <li><a tabindex="-1" href="sign-in.html">登出</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <a class="brand" href="/"><span class="second">后台管理系统</span></a>

        </div>
    </div>
    

    <div class="sidebar-nav">
        
        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>优惠信息</a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li><a href="/shops/queryAll?tableName=shop">商家店铺信息</a></li>
            <li class="active"><a href="/shops/queryAll?tableName=peritem">优惠套餐信息</a></li>
            <li><a href="/shops/queryAll?tableName=personyy">预约信息</a></li>
            <li><a href="/shops/queryAll?tableName=preferinfo">优惠时间</a></li>
        </ul>
    </div>
        
    <div class="content">
        
        <div class="header">
            <div class="stats">
            <p class="stat"><span class="number">53</span>标签</p>
            <p class="stat"><span class="number">27</span>任务</p>
            <p class="stat"><span class="number">15</span>待处理</p>
        </div>

        <h1 class="page-title">美容优惠</h1>
        </div>
            <ul class="breadcrumb">
            <li><a href="/">首页</a> <span class="divider">/</span></li>
            <li class="active">优惠信息</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
                <div class="btn-toolbar">
                    <a href="#" class="btn btn-primary" role="button" style="width: 60px;">新建</a>
                    <div class="btn-group">
                    </div>
                </div>

                <div class="well">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>美容类型</th>
                          <th>原价</th>
                          <th>现价</th>
                          <th>数量</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>

                          <!-- 输出内容 -->
                          <% for(var i=0; i<shopInfo.length; i++) {%>
                            <tr>
                                <td><%=shopInfo[i].id %></td>
                                <td><%=shopInfo[i].name %></td>
                                <td><%=shopInfo[i].oPrice %></td>
                                <td><%=shopInfo[i].cPrice %></td>
                                <td><%=shopInfo[i].count %></td>
                                <td>
                                    <a href="#myModal" class="btn btn-primary" role="button" data-toggle="modal" style="width: 60px;">编辑</a>
                                    <a href="/shops/deleteshop?id=<%=shopInfo[i].id %>" class="btn btn-primary" role="button" data-toggle="modal" style="width: 60px;">删除</a>
                                </td>
                            </tr>
                        <% } %>
                        
                      </tbody>
                    </table>
                </div>

                <!--<div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>-->

                <!-- 删除确认框 -->
                <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">确定删除</h3>
                    </div>
                    <div class="modal-body">
                        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>确定删除用户?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                        <a href="#" class="btn btn-danger" role="button" data-dismiss="modal">删除</a>
                    </div>
                </div>
                

                <footer>
                    
                </footer>
            </div>
    </div>

  </body>
</html>