extends layout

block content
    h1 更新用户资料
    form(method='post', action='/p/users/updateUser')
        div.form-row
            label
                span ID:
                input(type='text',name='id')
        div.form-row
            label
                span username:
                input(type='text',name='username')
        div.form-row
            label
                span password:
                input(type='text',name='password')
        div.form-row
            input(type='submit')
